In [ ]:
class AhorroVoluntario:
    def __init__(self, nombre_cliente, dinero_cuenta=0, rentabilidad_actual=0.01, mes_actual=1):
        self.nombre_cliente = nombre_cliente
        self.dinero_cuenta = dinero_cuenta
        self.mes_actual = mes_actual
        self.rentabilidad_actual = self.calcular_rentabilidad()

    def calcular_rentabilidad(self):
        if self.dinero_cuenta <= 400000:
            return 0.01
        elif self.dinero_cuenta > 400000 and self.dinero_cuenta < 800000:
            return 0.02
        else:
            return 0.03

    def ingresar_dinero(self, cantidad):
        self.dinero_cuenta += cantidad

    def retirar_dinero(self, cantidad):
        self.dinero_cuenta -= cantidad

    def liquidar_mes(self):
        self.mes_actual = 1 if self.mes_actual == 12 else self.mes_actual + 1
        self.rentabilidad_actual = self.calcular_rentabilidad()
        self.dinero_cuenta += self.dinero_cuenta * self.rentabilidad_actual

    def __str__(self):
        resultado = f'{"Nombre":15}\t{"Dinero actual":10}\t{"Mes actual":10}\t{"Rentabilidad":12}\n'
        resultado += f"{self.nombre_cliente:15}\t{round(self.dinero_cuenta, 2)}\t{self.mes_actual:10}\t{self.rentabilidad_actual:12}\t"
        return resultado

In [ ]:
cliente_1 = AhorroVoluntario("Juan")
cliente_1.ingresar_dinero(100000)
cliente_1.ingresar_dinero(200000)
cliente_1.retirar_dinero(50000)
print(cliente_1)
cliente_1.liquidar_mes()
print(cliente_1)
cliente_1.ingresar_dinero(500000)
print(cliente_1)
cliente_1.liquidar_mes()
print(cliente_1)
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
print(cliente_1)
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
cliente_1.liquidar_mes()
print(cliente_1)
cliente_1.liquidar_mes()
print(cliente_1)

Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	250000	         1	        0.01
Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	252500.0	         2	        0.01
Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	752500.0	         2	        0.01
Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	767550.0	         3	        0.02
Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	814530.2	         6	        0.02
Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	972591.66	        12	        0.03
Nombre         	Dinero actual	Mes actual	Rentabilidad
Juan           	1001769.41	         1	        0.03